django>=4.2
djangorestframework
djangorestframework-simplejwt
channels==4.0.0
channels-redis
pymongo
dnspython
django-cors-headers
python-dotenv
daphne
bcrypt
zope.interface>=8.0
txaio>=25.0
typing-extensions>=4.2.0
